.scaleCheckbox {
  margin-top: 30px;
  font-size: 24px;
  font-weight: 600;
}

.scaleCheckbox input {
  margin-right: 12px;
}

.all-scales {
  margin-bottom: 32px;
  transition: all 0.6s;
  position: relative;
}

.all-scales-table {
  min-height: 100vh;
}

.all-scales-table table {
  position: relative;
}

.all-scales-table thead {
  background: rgb(231, 231, 231);
  position: sticky;
  top: 4.5rem;
}

.all-scales-table td {
  border: 1px solid rgba(0, 0, 0, 0.17);
  padding: 4px;
}

.up-arrow-container {
  height: 41px;
  position: sticky;
  top: 74px;
  z-index: 999;
  display: flex;
  justify-content: flex-end;
}

.fa-arrow-circle-up {
  color: rgba(0, 0, 0, 0.8);
  z-index: 99;
  font-size: 24px;
  transform: translate(30px, 8px);
  display: none;
  opacity: 0;
  transition: all 0.2s;
}

.fa-arrow-circle-up:hover {
  color: black;
  cursor: pointer;
}

.groups-radio-buttons {
  margin: 12px 0;
  width: 100%;
  display: flex;
  /* justify-content: center; */
  flex-wrap: wrap;
}

.group-radio-button-item {
  margin: 0 12px;
}

@media screen and (max-width: 780px) {
  .fa-arrow-circle-up {
    transform: translate(0px, 50px);
  }
  .all-scales-table th:first-child {
    width: 181px;
  }
  .all-scales-table tr td:first-child {
    width: 181px;
  }
}
