.chords-search-result {
  margin-top: 24px;
  width: 100%;
}

.chords-search-result .fret-api-result {
  max-width: 700px;
  margin: 0 auto;
}

.chords-search-result .basic-guitar-neck-container {
  max-width: 700px;
  margin: 0 auto;
}

.chords-search-result .mini-display {
  height: 40vh;
}

.chords-search-result .max-display {
  height: 65vh;
}

.exact-chord {
  background-color: #0456d136;
}

.special-details {

}

#chord-chart {
  margin-top: 24px;
  text-align: center;
  height: 300px;
  overflow: hidden;
}

#chord-chart svg {
  transform: translateY(-40px);
}
