.chords-search {
  width: 100%;
}

.chords-search .fret-api-result {
  max-width: 700px;
  margin: 0 auto;
}

.chords-search .fretboard-display-checkbox {
  max-width: 700px;
  margin: 0 auto;
}

.chords-search .basic-guitar-neck-container {
  max-width: 700px;
  margin: 0 auto;
}


.chords-search .mini-display {
  height: 40vh;
}

.chords-search .max-display {
  height: 65vh;
}
