.compare-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 32px;
}

.compare-link-container {
  margin-top: 12px;
}

.compare-link {
  paddin-top: 12px;
  color: rgba(0, 0, 0, 0.704);
  text-decoration: none;
  transition: 0.2s;
}

.compare-link:hover {
  color: black;
  transition: 0.2s;
}

@media screen and (max-width: 900px) {
  .compare-link {
    display: none;
    }
  .compare-container {
    display: grid;
    grid-template-columns: 1fr;
  }
  .compare-second-selector {
    display: none;
  }
}
