.tuning-select {
  display: flex;
  justify-content: space-around;
  margin-bottom: 12px;
}

.tuning-selector {
  display: flex;
  align-items: center;
}

.tuning-selector h4 {
  margin: 0 12px;
}

.neck-table {
  margin: 58px 0;
}

.guitar-neck-table {
  background-color: rgba(210, 105, 30, 0.7);
}

.guitar-neck-table .not-in-scale {
  color: rgba(255, 255, 255, 0.7);
}

.guitar-neck-table > tbody > tr > th:nth-of-type(1) {
  background-color: rgba(0, 0, 0, 0.15);
  border-right: 1px solid black;
}

.fretboard-marks {
  background-color: white;
}

#notes-checkbox-label {
  font-size: 20px;
  margin: 0 12px;
}

.selected {
  color: black;
}

.not-selected {
  color: rgba(0, 0, 0, 0.61);
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 23px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #5C636A;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 17px;
  width: 17px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #5C636A;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(17px);
  -ms-transform: translateX(17px);
  transform: translateX(17px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
