.wrapper {
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.05);
}

.intervals {
  margin-bottom: 20px;
  padding-left: 2.5rem;
}
.intervals h2 {
    font-size: 28px;
    color: rgba(0, 0, 0, 0.616);
}

.wrapper-interval {
  padding: 0 64px;
  display: grid;
  grid-template-columns: repeat(14, 1fr);
  grid-gap: 4px;
  grid-auto-rows: minmax(32px, auto);
}

.col-interval-items-hidden {
  opacity: 0;
}
