.mode-special-note {
  color: red;
}

.modes-container{
  display: grid;
  /* justify-content: space-around; */
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
}

.modes-left-side {
  height: fit-content;
  position: sticky;
  top: 100px;
}

.modes-card {
  padding: 12px;
  border-radius: 8px;
  background-color: whitesmoke;
  margin-bottom: 48px;
  box-shadow: 4px 4px 12px #00000012;
}

.modes-card h1 {
  font-size: 1.5rem;
  margin-bottom: 24px;
}

.key-shape-selector {
  display: flex;
  justify-content: space-between;
}

.key-shape-selector-element {
  color: rgba(0, 0, 0, 0.4);
}

.key-shape-selector-element:hover {
  cursor: pointer;
}

.selected-key {
  color: black;
}
