.notes-displayer {
  font-size: 32px;
  margin-top: 32px;
}

.wrapper {
  padding: 0 64px;
  display: grid;
  grid-template-columns: repeat(14, 1fr);
  grid-gap: 4px;
  grid-auto-rows: minmax(32px, auto);
}
