.scale-table {
  margin-top: 32px;
}

.in-scale {
  color: rgba(255, 0, 0, 0.9);
}

.root-note {
  color: rgba(0, 0, 0, 0.9);
}

.not-in-scale {
  color: rgba(128, 128, 128, 0.8);
}

.scale-table .table tbody tr th:last-child {
  display: none;
}

.notes-displayer {
  font-size: 32px;
}

.wrapper {
  padding: 0 64px;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-gap: 4px;
  grid-auto-rows: minmax(32px, auto);
}

.wrapper-interval {
  color: rgba(0, 0, 0, 0.705);
  font-size: 1.5rem;
}
