.scale-table {
  margin-top: 32px;
}

.in-scale {
  color: rgba(255, 0, 0, 0.9);
}

.root-note {
  color: rgba(0, 0, 0, 0.9);
}

.not-in-scale {
  color: rgba(128, 128, 128, 0.8);
}

.scale-table .table tbody tr th:last-child {
  display: none;
}

.notes-displayer {
  font-size: 32px;
}

.intervals-tr {
  color: rgba(0, 0, 0, 0.705);
  font-size: 1.5rem;
  border-top: 1px solid #DDE1E5;
  border-bottom: 1px solid transparent;
}
