.scale-table {
  margin-top: 32px;
}

.scale-table th {
  width: calc(100% / 13);
  text-align: center;
}

.in-scale {
  color: #0243a3;
  text-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
}

.root-note {
  color: rgba(0, 0, 0, 0.9);
}

.mode-special-note {
  color: red;
}

.not-in-scale {
  color: rgba(128, 128, 128, 0.6);
}

.scale-table .table tbody tr th:last-child {
  display: none;
}

.intervals-tr {
  color: rgba(0, 0, 0, 0.705);
  font-size: 1.5rem;
  border-top: 1px solid #DDE1E5;
  border-bottom: 1px solid transparent;
}

.scale-display td {
  padding: 0.5rem;
  font-size: 1rem;
  text-align: center;
  width: 20px;
}

.notes-tr {
  font-weight: 600;
}

@media screen and (max-width: 990px) {
  .table td {
    padding: 0;
  }
  .notes-tr {
    font-size: 1.5rem;
  }
  .intervals-tr {
    font-size: 1rem;
  }
  .scale-table th {
    padding: 0;
  }
}
