.search-checkboxes {
  display: flex;
}

.search-form-check {
  margin: 8px;
}

.search-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 24px;
  position: relative;
}

.search-note-right-side {
  text-align: center;
}

.search-note-right-side .selector-columns {
  display: block;
}

.search-note-right-side .selector-top {
  display: none;
}

#right-side-hint {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20% 10%;
}

#right-side-hint h2 {
  padding: 24px;
  border: 1px solid black;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  font-size: 20px;
  background-color: rgb(240, 240, 240);
}

#clickable-td {
  color: rgba(0, 0, 0, 0.801);
  font-weight: 600;
  transition: 0.2s;
}

#clickable-td:hover {
  cursor: pointer;
  color: black;
  transform: scale(1.1);
}

.search-note-right-side a {
  color: rgba(0, 0, 0, 0.8);
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
  font-size: 32px;
  transition: 0.2s;
}

.search-note-right-side a:hover {
  color: rgba(0, 0, 0);
}

#right-side-result-hint {
  color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: 0.2s;
}

.search-note-right-side h1 {
  display: none;
}

.search-note-right-side .selectors {
  display: none;
}

.search-note-right-side .tuning-select {
  display: none;
}

.search-note-right-side .triads-container {
  display: none;
}

.search-note-right-side .selector-circle {
  display: none;
}

.search-note-left-side .fret-api-result {
  margin-top: 24px;
  overflow-y: scroll;
  display: block;
}

.chords-search {
  height: 65vh;
  margin-top: 24px;
  overflow-y: scroll;
  display: block;
}

.mini-display {
  height: 40vh;
}

.max-display {
  height: 65vh;
}

.search-note-left-side table>thead>tr>th {
  width: 300px;
  vertical-align: bottom;
  border-bottom: 2px solid #ddd;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 5;
  background: rgb(230, 230, 230);
}

.fretboard-display-checkbox {
  display: flex;
  align-items: center;
}

.fretboard-display-checkbox input {
  margin: 0 12px;
}
