.chords-dropdowns-items {
  display: flex;
}

.chords-dropdowns {
  display: flex;
  justify-content: space-between;
}

.notes-drop-down .note-selector {
  margin: 8px;
}

.seach_by_chords_notes_container {
  height: 38px;
  background-color: rgba(0, 0, 0, 0.103);
  padding: 0 12px;
  margin: 0px 16px;
  margin-top: 12px;
  margin-bottom: 24px;
  border-radius: 4px;
  font-size: 12px;
  display: flex;
  align-items: center;
}

#seach_by_chords_notes {
  margin: 0;
  font-size: 16px;
}

.close-button-shape-drop-down {
  margin-top: 4px;
  border-radius: 8px;
  padding: 8px 16px;
  border: 2px solid #5C636A;
  transition: 0.3s;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.8);
  text-align: center;
}

.close-button-shape-drop-down:hover {
  cursor: pointer;
  transition: 0.3s;
  color: black;
  border: 2px solid red;
}

@media screen and (max-width: 990px) {
  #seach_by_chords_notes {
    font-size: 12px;
  }
  .chords-search {
    max-height: 40vh;
  }
  .close-button-shape-drop-down {
    padding: 8px 8px;
  }
  .selector-item {
    padding: 8px;
  }
  .seach_by_chords_notes_container {
    margin: 0px 16px;
    margin-top: 8px;
    margin-bottom: 16px;
  }
}
